.container{
    height: 300px;
    width: 80%;
    margin: auto;
    border: 2px solid;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
     /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: flex-end;
    /* flex-start,end,centre */
}
.flex-items{
    height: 300px;
    width: 50px;
}
.box{
    align-self: center;
}