/* element selectors */
/* div{ 
    background-color: aqua;
} */
/* class selector */
/* .box{
    background-color: yellow;
} */
/* id selectors */
/* #intro{
    background-color: yellowgreen;
} */

/* universal selector */
*{
    font-family: sans-serif; 
}
/* element selectors */
h1{
    color: blue;
}
p{
    color: brown;
}
/* class selector */
.highlight{
    background-color: yellow;
}
/* id selectors */
#unique-box{
    border: 2px  solid blue;
}
/* group selector */
h1,.highlight,#unique-box{
    font-style: italic;
    font-size: 32px;
}
/* Descendant selector */
.nested p{
    color: green;
}
/* Child selector */
.nested > p{
    color: red;
}
.nested > div > p {
    color: aqua;
}
/* Adjacent sibling selector */
h3 + p {
    color: rebeccapurple;
}
/* General sibling selector */
h3 ~ p {
    color: violet; 
}
/* Attribute selector */
input[type="text"] {
    border: 2px solid purple;
}

/* pseudo-class selector  */
.hover-button:hover{
    background-color: lightblue;
}
input:focus{
    outline: 3px solid orange;
}
li:first-child{
    color: green;
}
li:last-child{
    color: darkred;
}
li:nth-child(2){
    color: darkblue;
}
/* pseudo elements */
.pseudo::before{
    content: '👉' ;;
}
.pseudo::after{
    content: '👈';
}
.pseudo::first-line{
    color: navy;
    content: '👈';
}
.pseudo::first-letter{
    text-decoration: overline 2px wavy;
}
/* transform,transition,scale,shadows,opacity,translate,alpha */