.one{
    background-color: aquamarine;
    /* width: 500px;  */
    max-width: 500px;
    /* height: 300px; */
    /* overflow: hidden; */
    min-height: 300px;
    width: 50%;
    /* height: 50%; */
}
.parrent{
    width: 800px;
    height: 400px;
}